{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
        <div class="list-group">
            {% for item in links %}
            <a href="{{ item.href }}" target="_blank" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ item.text }}</h5>
                    <small>{{ item.date }}</small>
                </div>
                <p class="mb-1">{{ item.url.get_domain() }}</p>
                {% for tag in item.get_tags() %}
                <span class="badge badge-primary">{{ tag }}</span>
                {% endfor %}
            </a>
                
            {% endfor %}

        </div>
{% endblock %}